<div class="list">
  <% for (const item of items) { %>
    <div class="listItem">
      <a class="itemImage project" href="<%= item.path %>" aria-hidden="true">
        <% if (item.image) { %>
          <img src="<%= item.image %>">
        <% } else { %>
          <% if (item.categories) { %>
             <% if (item.categories.includes("fims-weekly")) { %>
               <span class="fa-stack fa-2x" style="width: 75px; height: 75px;">
                 <i class="fas fa-square fa-stack-2x" style="color: #eee;"></i>
                 <i class="fas fa-newspaper fa-stack-1x" style="color: #aaa;"></i>
               </span>
             <% } else { %>
               <span class="fa-stack fa-2x" style="width: 75px; height: 75px;">
                 <i class="fas fa-square fa-stack-2x" style="color: #eee;"></i>
                 <i class="fas fa-book-bookmark fa-stack-1x" style="color: #aaa;"></i>
               </span>
             <% } %>
          <% } else { %>
            <span class="fa-stack fa-2x" style="width: 75px; height: 75px;">
              <i class="fas fa-square fa-stack-2x" style="color: #eee;"></i>
              <i class="fas fa-book-bookmark fa-stack-1x" style="color: #aaa;"></i>
            </span>
          <% } %>
        <% } %>
      </a>

      <div class="itemDetails">
        <div class="itemHeader">
          <div class="itemTitle">
            <a href="<%= item.path %>"><%= item.title %></a>
          </div>
          <% if (item.categories) { %>
            <div class="itemTag">
              <% for (const category of item.categories) { %>
                <span class="category-tag"><%= category %></span>
              <% } %>
            </div>
          <% } %>
        </div>

        <div class="itemMeta">
          <div class="author">
            <% if (item.author) { %>
               <%= item.author %>
            <% } %>
          </div>
          <div class="itemDescription">
            <% if (item.description) { %>
              <%= item.description %>
            <% } %>
            <a class="readMore mobile-only" href="<%= item.path %>">Read more ...</a>
          </div>
          <div class="itemDate">
            <div class="created"><%= item.date %></div>
          </div>
        </div>
      </div>
    </div>
  <% } %>
</div>